* {
    box-sizing: border-box;
}

.body {
    background-color: #fff1bf;
}

.message-container {
    height: 60vh;
}

.message {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
    max-width: 60%;
    overflow-wrap: break-word;
    clear: both;
}

.message p {
    margin-bottom: 0;
}

.message div {
    opacity: .7;
}

.main-user {
    float: right;
    background-color: #ffa500;
}

.main-user div {
    width: 100%;
    text-align: right;
}

.resize-none {
    resize: none;
}